@import url("https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap");

:root {
  --white: #ffffff;
  --black: #000000;
  --red: #ff0000;
  --background-color: #0d2436;
  --hover-font-color: #cccccc;
  --nominee-card-bg: #ffffff;
  --primary: #009b86;
  --nominee-card-hover-bg: #34ac9c;
  --font-family: "Roboto", sans-serif;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--font-family);
  background-color: var(--background-color);
  color: var(--white);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1 {
  color: var(--white);
}
