.container {
  padding: 1rem;
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 100px;
  background-color: var(--background-color);
  color: var(--font-color);
  font-family: var(--font-family);
}

.title {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 2rem;
  color: var(--white);
}

.submitButton {
  padding: 20px 20px;
  position: fixed;
  right: 20px;
  bottom: 20px;
  background-color: var(--primary);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 18px;
  font-weight: 700;
}

.submitButton:hover {
  background-color: #34ac9c; /* Slightly lighter on hover */
}

/* Responsive Positioning for Smaller Screens */
@media (max-width: 768px) {
  .submitButton {
    position: fixed; /* Keep it fixed but adjust for centering */
    left: 50%;
    transform: translateX(-50%); /* Center the button horizontally */
    bottom: 20px; /* Keep it at the bottom */
  }
}

@media (min-width: 768px) {
  .title {
    font-size: 2.5rem;
  }
}
